body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.builder {
	width: 50%;
	margin: 20px auto 0 auto;
}
.builder .title {
	text-align: center;
	margin-bottom: 20px;
}
.builder .form .fields {
	display: flex;
	justify-content: space-between;
}
.builder .form .fields input {
	width: 120px;
	padding: 0 10px;
}
.builder .form .btn {
	display: block;
	margin: 0 auto;
	background-color: aqua;
	border: 20px;
	font-weight: bold;
	font-style: 18px;
}
.matrix-table {
	width: 50%;
	margin: 60px auto 60px auto;
}
.bold {
	font-weight: bold;
}
.matrix {
	max-width: 60%;
	margin: 30px auto;
}

.matrix-btn {
	background-color: yellow;
	color: #26a69a;
	border: none;
	border-radius: 20px;
	padding: 10px;
	width: 150px;
	margin: 20px auto;
	display: block;
}
.matrix li {
	margin-bottom: 5px;
}
.matrix-btn:hover {
	cursor: pointer;
	background-color: red;
	color: black;
}
.black-aqua {
	background-color: #31a59e;
	color: white;
}
.aqua {
	background-color: #61dafb;
	margin-right: 5px;
	color: #0f4d6b;
	border-radius: 10px;
}
.matrix-head {
	display: grid;
	grid-template-columns: 60px 1fr 60px;
}
.matrix-head ul {
	display: grid;
	/* grid-template-columns: repeat(auto-fill, minmax(60px, 1fr)); */
	grid-auto-flow: column;
	margin: 0;
	text-align: center;
}
.matrix-container {
	display: grid;
	grid-template-columns: 60px 1fr 60px;
}
.matrix-content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(60px, 179px));
	text-align: center;
}
.matrix-content li {
	display: grid;
	align-content: center;
}
.matrix-avg {
	display: grid;
	grid-template-columns: 60px 1fr 60px;
}
.matrix-sum {
	text-align: center;
	border-radius: 10px;
}
.matrix-sum li {
	padding: 5px;
	display: block;
	border-radius: 10px;
	position: relative;
}
.matrix-sum li span {
	position: absolute;
	content: '\00d7';
	right: -20px;
	top: 5px;
	display: block;
	width: 10px;
	height: 10px;
	color: #000;
}
.matrix-rows li {
	padding: 5px;
	display: block;
}
.matrix-avg ul {
	display: grid;
	margin: 0;
	text-align: center;
	grid-gap: 10px;
	margin-right: 10px;
}
li:hover {
	cursor: pointer;
}

.matrix-avg li {
	padding: 5px;
	margin-bottom: 0;
	border-radius: 10px;
}
.matrix-avg span:last-child {
	padding: 5px;
	border-radius: 10px;
	text-align: center;
}
